@font-face {
  font-family: 'Cera Pro Bold';
  src: url(Cera-Pro/Cera\ Pro\ Bold.otf);
}
@font-face {
  font-family: 'Cera Pro Light';
  src: url(Cera-Pro/Cera\ Pro\ Light.otf);
}
@font-face {
  font-family: 'Cera Pro Regular';
  src: url(Cera-Pro/Cera\ Pro\ Regular.otf);
}
@font-face {
  font-family: 'Cera Pro Medium';
  src: url(Cera-Pro/Cera\ Pro\ Regular.otf);
}
@font-face {
  font-family: 'Cera Pro Thin';
  src: url(Cera-Pro/Cera\ Pro\ Thin.otf);
}

*{
  margin: 0;
  padding: 0;
}

#mundos {
  background-color: #f0f3f9;
  width: 100vw;
  min-width: 70vw;
  display: block;
} 

#navMundos{
  font-family: 'Cera Pro Bold';
  background-color: #300C54;
  width: 100%;
  height: 90px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  text-size-adjust: 100%;
  display: flex;
}

#navMundos > p{
  color: white;
  box-sizing: inherit;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-right: 2rem;
  margin: 1rem;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 1.3;
}

#navMundos>a{
  text-decoration: none;
}

#navMundos>a>button{
  font-family: 'Cera Pro Medium';
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px rgba(255, 255, 255, 0.844) solid;
  border-radius: 30px;
  display: flex;
  margin: 10px;
  font-size: 15px;
  padding: 0.6rem 1.1rem;
}

#navMundos>a>button:hover {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.915);
  color: black;
  text-decoration-line: underline;
}


.ninia-container{
  background-image: url("imagenesMundos/fotoNinia.webp");
  background-size: cover;
  height: 20rem;
  display: flex;
}

.sinfin-botones {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: max-content;
  max-width: 40vw;
  min-width: 258px;
  height: 200px;
  padding: 2rem 1.875rem;
  z-index: 1;
  overflow: hidden;
}

.sinfin-botones > h4{
  all: unset;
  font-size: 19px;
  font-family: 'Cera Pro Thin';
  font-weight: 600;
}

.sinfin-botones > p{
  font-size: 14px;
  font-family: 'Cera Pro Thin';
  font-weight: 600;

}

.ninia-btm > a{
  text-decoration: none;
}

.ninia-btm > a > button{
  box-sizing: inherit;
  color: white;
  background-color: black;
  border: 0.6rem solid black;
  border-radius: 0.27rem;
  font-family: 'Cera Pro Medium';
  font-weight: 600;
  font-size: 14px;
  padding: 0.08rem 1rem;
}




.legoFooter {
  background-color: #300C54;
}

















/* Estilo botón localización España */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.setsConCreatividad {
    transition-property: none;
    transition-property: all;
    transition-property: test_05;
    transition-property: -specific;
    transition-property: sliding-vertically;
}