/*todo || GENERAL STYLES */

html {}

body {}

/*? <main>*/
main {
  /* margin-bottom: 1.875rem; */
  /* margin: 0; */
  /* padding: 0; */

  /* max-width: 100rem; */
  /* max-height: 100rem; */
  /* position: relative; */
  /* Establece un padding inicial basado en el ancho de la ventana */
  /* padding: 5vw; */
  /* Agrega una transición para suavizar el cambio de padding */
  /* padding: 0 0.3vw 0vw 0.3vw; */
  padding-right: 5vw;
  padding-left: 5vw;
  transition: padding 0.1s;
}


/*todo#####-----> START SECCION: NavBar-Banner y SubBaneer <-----#####*/

/*? Estilos del NavBar */
.navbar {
  /* Estilos generales del navbar */
  font-family: Arial, sans-serif;
  background-color: #ffd502;
  height: 4.6875rem;
  margin: 0 auto;
  padding: 0 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del logo */
.navbar-logo img {
  height: 50px;
}

/* Estilos de los enlaces de la barra de navegación */
.navbar-div-links {
  /* Estilos del contenedor de enlaces */
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  padding: 0 0 10px 50px;
}

.navbar-links {
  /* Estilos de la lista de enlaces */
  font-size: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  /* Estilos de los elementos de la lista */
  margin-right: 50px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links li a {
  /* Estilos de los enlaces */
  text-decoration: none;
  color: #000000;
}

.navbar-links li a:hover {
  /* Estilos de los enlaces al pasar el mouse */
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-decoration-color: #1f1f1f;
}

/* Estilos de los botones */
.btn-trans {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-circle {
  border-radius: 50%;
  border: 0px solid;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.navbar-div-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-div-buttons button,
.navbar-div-buttons a {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-family: inherit;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.navbar-div-buttons:last-child {
  margin-right: 0px;
}

/* Estilos del contador del carrito */
.navbar-div-buttons .cart-num {
  display: inline-flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  line-height: 1.1875rem;
  text-decoration: none;
}

.navbar-div-buttons .cart-num:hover {
  text-decoration: underline;
}

/* Estilos del icono del carrito */
.navbar-div-buttons-icon_cart {
  margin-right: 0.3125rem;
}


/*? Estilos del Banner */
.banner {
  font-family: Arial, sans-serif;

  /* padding: 0px !important;
  margin: 0px !important; */

  /* padding: 0px !important; */
  /* padding: 20px; */
  /* background: url("assets/images/banner/img2.webp"); */
  /* background-repeat: no-repeat; */
  /* background-size: 100%; */
  /* background-position: top; */
  /* position: relative; */
}

.banner-background-image {
  width: 100%;
  /* height: auto; */
  display: block;
}

.banner-div {
  /* z-index: 1; */
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 1.25rem 1.875rem;
  /* transition: all 0.5s; */

  /*? Opc 0 (Sin gradientes) */
  /**/
  /*? Opc 1 */
  /* background: rgb(22, 22, 22);
  background: linear-gradient(180deg, rgba(22, 22, 22, 1) 0%, rgba(46, 44, 42, 1) 100%); */
  /*? Opc 2 */
  /* background: rgb(28, 28, 28);
  background: linear-gradient(180deg, rgba(28, 28, 28, 1) 0%, rgba(46, 44, 42, 1) 100%); */
  /*? Opc3  */
  background: rgb(22, 22, 22);
  background: linear-gradient(25deg, rgba(22, 22, 22, 1) 54%, rgba(46, 44, 42, 1) 95%);
}

.banner-div-img1 {
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 10px;
}

.banner-div-h2 {
  color: inherit;
  font-weight: 400;
  text-transform: inherit;
  margin: 0px;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.banner-div-span1 {
  color: lightgrey;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  display: block;
  font-weight: 400;
  line-height: 1.1875rem;
  margin-top: 0.625rem;
}

.banner-div-buttons {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px -0.625rem;
}

.banner-buttons {
  width: auto;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  text-transform: none;
  padding: 0.625rem 1.125rem;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

  height: 1.15rem;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  margin-top: 0.9375rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  pointer-events: all;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
}

.banner-buttons:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.banner-buttons-ico {
  line-height: 0;
  height: 16px;
  width: 16px;

  transition: transform 0.1s linear 0s;
  display: block;
  flex: 0 0 auto;

  margin-left: 0.75rem;
}

/*? Estilos del SubBanner */
.subBanner {
  /* width: 100%; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.subBanner ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.subBanner li {
  /* height: 100%; */
  /* width: 15%; */
  /* width: auto; */
  margin: 0px;
  padding: 0px;
  text-align: center;
  flex-grow: 1;
  /* display: flex; */
  /* justify-items: space-between; */
  /* flex-wrap: wrap; */
  background-color: yellowgreen !important;
}

/* Estilos de las imágenes en la lista */
.subBanner a img {
  /* width: 100% !important; */
  max-width: 90px;
  /* height: auto; */
  margin: 10px 10px 7px 10px;
  /* padding: var(--ds-spacing-md) 0; */
  /* gap: 0 var(--ds-spacing-sm); */
  justify-content: center;
}

.subBanner li span {
  width: 100%;
  font-family: "Cera Pro", sans-serif;
  color: rgb(20, 20, 20);
  font-size: 13px;
  display: inline-block;
}

.subBanner li:hover span {
  text-decoration: underline;
}

/*todo#####-----> END SECCION: NavBar-Banner y SubBaneer <-----#####*/


/*todo#####-----> START SECCION: Sets Selecciones y Compras <-----#####*/
/*Inicio de sección de CSS de sets destacados*/
.DESTproduct-card {
  width: 310px;
  border: 0px;

  overflow: hidden;
}

.DESTproduct-card .DESTlike {
  /* position: absolute; */
  top: 30px;
  left: 30px;
}

.DESTproduct-card img {
  width: 100%;
  display: block;
}

.DESTproduct-card .DESTnew-badge {
  background-color: #FFD700;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  position: absolute;
  top: -35px;
  left: 10px;
  font-size: 0.8em;

}

.DESTproduct-card .DESTproduct-info {
  padding: 15px;
  background: #000000;
  position: relative;
}

.DESTproduct-card .DESTproduct-info h2 {
  margin: 0;
  font-size: 1.2em;
  color: #ffffff;
  text-align: left;
}

.DESTproduct-card .DESTproduct-info .DESTprice {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;

}

.DESTproduct-card button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1em;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
}

.DESTcarousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  justify-content: center;

}

.DESTcarousel .DESTproduct-card {
  flex: 0 0 auto;
  margin: 20px;
}

/*Final de sección de CSS de SETS DESTACADOS*/

/*Inicio de sección de CSS de SELECCIONES DE ESTA SEMANA*/

.SELfeature-section {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.SELfeature-section .SELfeature {
  width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  margin: 10px;
  text-align: center;
  /* Centra el texto dentro de cada característica */
}

.SELfeature img {
  width: 100%;
  height: auto;
  display: block;
}

.SELfeature h2 {
  font-size: 1.4em;
  color: #333;
  padding: 16px;
  margin: 0;
  margin-bottom: 20px;
  /* Distancia fija debajo del título */
}

.SELfeature p {
  padding: 0 16px;
  color: #666;
  font-size: 1em;
  margin-bottom: 20px;
  /* Distancia fija debajo del párrafo */
}

.SELfeature a {
  display: block;
  padding: 12px 16px;
  color: #008CBA;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  /* Distancia fija debajo del enlace */
}

.SELfeature a:hover {
  text-decoration: underline;
}

.SELfeature a:after {
  content: " >";
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .SELfeature-section {
    flex-direction: column;
    align-items: center;
  }

  .SELfeature-section .feature {
    width: 80%;
  }
}

/*Final de sección de CSS de SELECCIONES DE ESTA SEMANA*/

/*Inicio de sección de CSS de COMPRAS DE OTROS CLIENTES*/

.OTRproduct-container {
  display: flex;
  /* Alinea horizontalmente los productos */
  overflow-x: auto;
  /* Habilita el desplazamiento horizontal */
  gap: 20px;
  /* Espacio entre los productos */
  padding: 10px;
  /* Padding para mejor presentación */
  scroll-snap-type: x mandatory;
  /* Opcional: mejora el comportamiento del scroll */
  justify-content: center;
  /* Centra el contenedor de productos*/
}

.OTRproduct {
  flex: 0 0 auto;
  /* Los elementos no crecen ni encogen pero sí mantienen su tamaño */
  width: 300px;
  /* Anchura fija para cada producto */
  scroll-snap-align: start;
  /* Opcional: alinea los elementos con el inicio del contenedor al desplazar */
  background: #fff;
  /* Fondo blanco para los productos */
  border: 1px solid #ccc;
  /* Borde sutil */
  padding: 10px;
  /* Padding interno */
}

.OTRproduct img {
  width: 100%;
  /* Ajusta las imágenes para que ocupen todo el ancho del producto */
  height: auto;
  /* Mantiene la proporción de las imágenes */
}

.OTRadd-to-cart-btn {
  display: block;
  /* Hace que el enlace ocupe todo el ancho del contenedor */
  text-align: center;
  /* Centra el texto del botón */
  margin-top: 10px;
  /* Margen superior */
  padding: 10px;
  /* Padding para el botón */
  background-color: #ff6600;
  /* Color de fondo del botón */
  color: rgb(0, 0, 0);
  /* Color del texto del botón */
  text-decoration: none;
  /* Elimina el subrayado de los enlaces */
  border-radius: 5px;
  /* Bordes redondeados para el botón */
}

.OTRprice {
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}

/* Opcional: estilos adicionales para el etiquetado de novedad */
.OTRnew-label {
  background-color: #FFD700;
  position: relative;
  top: -5px;
  left: 0px;
  width: 50px;
  padding: 5px 10px;
  color: #000000;
  font-size: 0.8em;
}

/*todo#####-----> END SECCION: Sets Selecciones y Compras <-----#####*/

/*todo#####-----> START SECCION: Three Sections <-----#####*/
.the-last-three-sections {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  font-family: 'Cera Pro', sans-serif;
  justify-content: center;
}

.section1-last-three-sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  border: 2px solid transparent;
  text-align: justify;
  flex-wrap: wrap;
  position: relative;

}

#card-inner-content1-last-three-sections {
  max-width: 100rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  border: 2px solid transparent;
  text-align: justify;
  flex-wrap: wrap;
  position: relative;
}

#h1-last-three-sections {
  width: 100%;
  display: flex;
  height: 3%;
  border: 2px solid transparent;
  position: relative;
  font-size: 2.150rem;
  line-height: 2.6875rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 6.5%;
}

.a1-last-three-sections {
  text-decoration: none;
  color: black;

}

.service1-last-three-sections {
  max-width: 28.125rem;
}

.img1-last-three-sections {
  max-width: 28.125rem;
}

.imglogo-last-three-sections {
  max-width: 8.75rem;
  margin-top: -5%;
  margin-left: 63%;
}

.logo-last-three-sections {
  max-width: 8.75rem;
  margin-top: -30%;
}

.span-last-three-sections {
  display: flex;
  text-align: justify;
  text-align: center;
  justify-content: center;


}

#shoping1-last-three-sections:hover {
  text-decoration: underline;

}

.text1-last-three-sections {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.9375rem;

}

.text2-last-three-sections {
  font-size: 1rem;
  line-height: 1.1875rem;

}

#shoping1-last-three-sections {
  font-size: 1rem;
  font-weight: 600;
  text-transform: inherit;
  line-height: 2rem;

}

.section2-last-three-sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  border: 2px solid transparent;
  text-align: justify;
  flex-wrap: wrap;
  position: relative;

}

#card-inner-content2-last-three-sections {
  max-width: 100rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  border: 2px solid transparent;
  text-align: justify;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  justify-content: center;
}

#h2-last-three-sections {
  width: 100%;
  display: flex;
  margin-left: 6.5%;
  height: 3%;
  border: 2px solid transparent;
  position: relative;
  font-size: 2rem;
  line-height: 2.6875rem;
  font-weight: 400;
  margin-bottom: 0;
}

.a2-last-three-sections {
  text-decoration: none;
  color: black;

}

.service2-last-three-sections {
  max-width: 20.938rem;
}

.img2-last-three-sections {
  max-width: 20.938rem;
}


#shoping2-last-three-sections:hover {
  text-decoration: underline;

}

.text3-last-three-sections {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.9375rem;

}

.text4-last-three-sections {
  font-size: 1rem;
  line-height: 1.1875rem;

}

#shoping2-last-three-sections {
  font-size: 1rem;
  font-weight: 600;
  text-transform: inherit;
  line-height: 2rem;

}

.the-last-body-section {
  width: 100%;
  height: 100%;
  padding: 2.5rem 1.25rem;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  justify-content: center;
  color: #2c2c2c;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: justify;
}

.the-last-body-div {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  --header-height: 8.125rem;
  max-width: 100rem;
  line-height: 1.5;
  border: 2px solid transparent;
  background-color: #fff
}

.the-last-body-span {
  text-align: left;
  --header-height: 8.125rem;
  font-size: 0.875rem;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0;
}

/*todo#####-----> END SECCION: Three Sections <-----#####*/

/*todo#####-----> START SECCION: Mundos Cards y Footer <-----#####*/
@font-face {
  font-family: 'Cera Pro Bold';
  src: url(assets/font/Cera-Pro/Cera\ Pro\ Bold.otf);
}

@font-face {
  font-family: 'Cera Pro Light';
  src: url(assets/font/Cera-Pro/Cera\ Pro\ Light.otf);
}

@font-face {
  font-family: 'Cera Pro Regular';
  src: url(assets/font/Cera-Pro/Cera\ Pro\ Regular.otf);
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url(assets/font/Cera-Pro/Cera\ Pro\ Medium.otf);
}

@font-face {
  font-family: 'Cera Pro Thin';
  src: url(assets/font/Cera-Pro/Cera\ Pro\ Thin.otf);
}

* {
  margin: 0;
  padding: 0;
}

.MundosSets {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 90vw;
  padding: 0vw;
  margin: 0vw;
  
}

#mundos {
  background-color: #f0f3f9;
  width: 100vw;
  min-width: 70vw;
}

#navMundos {
  font-family: 'Cera Pro Bold';
  background-color: #300C54;
  width: 100%;
  height: 90px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  text-size-adjust: 100%;
  display: flex;
}

#navMundos>p {
  color: white;
  box-sizing: inherit;
  font-size: 25px;
  margin-right: 3vw;
  margin: 1vw;
  text-align: center;
  justify-content: center;
  display: flex;
}

#navMundos>a {
  text-decoration: none;
}

#navMundos>a>button {
  font-family: 'Cera Pro Regular';
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px rgba(255, 255, 255, 0.844) solid;
  border-radius: 35px;
  display: flex;
  margin: 1vw;
  font-size: 15px;
  padding: 1.5vh 1.5vw;
}

#navMundos>a>button:hover {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.915);
  color: black;
  text-decoration-line: underline;
}


.ninia-container {
  position: relative;
}

.sinfin-botones {
  position: absolute;
  top: 50%;
  margin-left: 4vw;
  transform: translateY(-50%);
  max-width: 35%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: break-word;
}

.image-container {
  position: relative;
  z-index: 1;
}

.image-container>a>img {
  display: flex;
  width: 100%;
}

.sinfin-botones>h4 {
  all: unset;
  font-size: 2vw;
  font-family: 'Cera Pro Medium';
}

.sinfin-botones>p {
  font-size: 1.5vw;
  font-family: 'Cera Pro Regular';
  display: flex;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.ninia-btm {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
}

.ninia-btm>a {
  text-decoration: none;
  margin-bottom: 10px;
  background-color: transparent;
}

.ninia-btm>a>button {
  box-sizing: inherit;
  color: white;
  background-color: black;
  border: 0.2px solid black;
  border-radius: 0.27rem;
  font-family: 'Cera Pro Medium';
  font-size: 14px;
  padding: 11px;
}

.ninia-btm>a>button:hover {
  background-color: white;
  color: black;
  border: 0px;
  padding: 12.2px;
}


#setsConCreatividad {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 30px;
  font-family: 'Cera Pro Regular';
}

#setsConCreatividad>#cards {
  display: flex;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1d233da5 #262f492b;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}


#cards {
  display: flex;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

#cards img {
  display: flex;
  width: 200px;
  height: 150px;
  margin-top: -10px;
}

#corazon>svg {
  background-color: rgba(228, 239, 247, 0.742);
  border: 1px rgba(228, 239, 247, 0.742) solid;
  border-radius: 30px;
  margin: 10px;

}

#corazon >svg:hover {
  background-color: #0000002d;
}


.fondoCardsSup {
  background-color: white;
  padding-bottom: 30px;
}

#pieMiniFoto {
  display: flex;
  flex-direction: column;
  background-color: #300C54;
  font-family: "Cera Pro Medium";
  font-size: 12px;
  color: white;
  padding: 15px;
  gap: 10px;
}

#pieMiniFoto a {
  text-decoration: none;
  color: white;
}

#pieMiniFoto a:hover {
  text-decoration: underline;
}

#añadirALaBolsa {
  padding: 14px;
  background-color: rgb(252, 227, 0);
  border: 2px solid rgb(252, 227, 0);
  border-radius: 3px;
  font-family: "Cera Pro Medium";
  font-weight: bold;
  font-size: 11px;
}

#añadirALaBolsa:hover {
  background-color: transparent;
  color: rgb(252, 227, 0);

}

#patines #precioMiniFoto,
#macetaIsabela #precioMiniFoto,
#castilloAriel #precioMiniFoto,
#mansionModerna #precioMiniFoto {
  padding-top: 26px;
}

#martinPescador #precioMiniFoto,
#narcisos #precioMiniFoto {
  padding-top: 26px;
}

#hedwig #precioMiniFoto {
  padding-top: 7.61px;
}

#cabañaHagrid #precioMiniFoto,
#barcaCapitan #precioMiniFoto {
  padding-top: 10.8px;
}

.legoFooter {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 29, 72);
  color: white;
  padding-top: 10vh;
  font-family: "Cera Pro Regular";
  width: 100vw;
}

#location {
  display: flex;
  width: 96px;
  height: 40px;
  background-color: rgb(25, 24, 50);
  border-style: none;
  padding: 1vw;
  color: white;
  margin-top: 2vh;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

#location:hover {
  cursor: pointer;
}

.footer1 {
  display: flex;
  flex-direction: row;
  padding-bottom: 12vh;
  justify-content: space-evenly;
  align-items: flex-start;
}

#footer,
#quienesSomos,
#atencionAlCliente,
#atracciones,
#masInformacion {
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
  width: 20vw;
}


.legoLogo {
  width: 97px;
  height: 97px;
}

.footer2 {
  display: flex;
  flex-direction: row;
  padding-left: 4vw;
}

#suscribeteSiguenos {
  display: flex;
  flex-direction: row;
 
}

.suscribete {
  display: flex;
  flex-direction: column;
}

.inputButton {
  display: flex;
  justify-content: baseline;
  align-items: start;
  margin-top: 2vh;
  width: min-content;
}

.inputEmail {
  width: 200px;
  height: 50px;
}

#correo {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 102, 0);
  font-size: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-style: none;
}

#siguenos {
  margin-left: 47vw;

}

#siguenos h4 {
  padding-bottom: 4vh;
}

#siguenos a {
  margin: 0.5vw;
  text-decoration: none;
}

.legoFooter a {
  text-decoration: none;
  color: white;
  padding-top: 5vh;
}

.legoFooter a:hover {
  text-decoration: underline;
}



.footer3 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding-left: 4vw;
  padding-bottom: 6vh;
  padding-right: 3vw;
}

#legal>.ultimosLinks {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
















/* Estilo botón localización España */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24,
}



/*todo#####-----> END SECCION: Mundos Cards y Footer <-----#####*/





/*todo || RESPONSIVE START SECCION: NavBar-Banner y SubBaneer*/

/* *** */

/*todo || RESPONSIVE END SECCION: NavBar-Banner y SubBaneer*/