/*todo#####-----> START SECCION: NavBar-Banner y SubBaneer <-----#####*/

/*todo || GENERAL STYLES */

/*! Estilos generales del (html), corregir si hay colisiones */
html {
    font-size: 16px;
}

/*! Estilos generales del (body), corregir si hay colisiones */
body {
    margin: 0;
    padding: 0;
}

/*todo || UTILITIES */

/*? Estilos del NavBar */
.navbar {
    /* Estilos generales del navbar */
    font-family: Arial, sans-serif;
    background-color: #ffd502;
    height: 4.6875rem;
    margin: 0 auto;
    padding: 0 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos del logo */
.navbar-logo img {
    height: 50px;
}

/* Estilos de los enlaces de la barra de navegación */
.navbar-div-links {
    /* Estilos del contenedor de enlaces */
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 10px 50px;
}

.navbar-links {
    /* Estilos de la lista de enlaces */
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    /* Estilos de los elementos de la lista */
    margin-right: 50px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links li a {
    /* Estilos de los enlaces */
    text-decoration: none;
    color: #000000;
}

.navbar-links li a:hover {
    /* Estilos de los enlaces al pasar el mouse */
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-decoration-color: #1f1f1f;
}

/* Estilos de los botones */
.btn-trans {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-circle {
    border-radius: 50%;
    border: 0px solid;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.navbar-div-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-div-buttons button,
.navbar-div-buttons a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-family: inherit;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.navbar-div-buttons:last-child {
    margin-right: 0px;
}

/* Estilos del contador del carrito */
.navbar-div-buttons .cart-num {
    display: inline-flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    line-height: 1.1875rem;
    text-decoration: none;
}

.navbar-div-buttons .cart-num:hover {
    text-decoration: underline;
}

/* Estilos del icono del carrito */
.navbar-div-buttons-icon_cart {
    margin-right: 0.3125rem;
}

/*? Estilos del Banner */
.banner {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: url("assets/images/banner/img2.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    position: relative;
}

.banner-img-left {
    position: relative;
    top: 0;
    left: 0;
}

.banner-content {
    width: 45%;
    color: white;
    z-index: 1;
}

.banner-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 0;
}

.banner-content p {
    margin-bottom: 20px;
}

.banner-buttons {
    margin-bottom: 10px;
}

.banner-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 28" xmlns="http://www.w3.org/2000/svg"><path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px auto;
}

.banner-button:last-child {
    margin-right: 0;
}

/*? Estilos del SubBanner */
.subBanner {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subBanner li {
    margin: 0;
    padding: 0;
    text-align: center;
}

/** Estilos de las imágenes en la lista */
.subBanner img {
    /* max-width: 110px; */
    /* height: auto; */
    margin: 10px 10px 7px 10px;
}

/** Copia Propiedaddes pagina original */
.subBanner img {
    text-decoration-color: initial;
    border-style: none;
    box-sizing: inherit;
    color: rgb(219, 216, 212);
    display: inline-block;
    font-family: "Cera Pro", sans-serif;
    font-size: 1rem;
    height: auto;
    max-width: 100%;
    object-fit: fill;
    text-decoration: underline;
    vertical-align: middle;
}

.subBanner li span {
    font-family: "Cera Pro", sans-serif;
    color: rgb(20, 20, 20);
    font-size: 13px;
    display: inline-block;
}

.subBanner li:hover span {
    text-decoration: underline;
}


/*todo#####-----> END SECCION: NavBar-Banner y SubBaneer <-----#####*/